# Build directories
build/
cmake-build-*/
out/
dist/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Compiled Object files
*.o
*.obj
*.ko
*.elf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
*.la
*.lo

# Executables
*.exe
*.out
*.app
rest_api
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# IDE specific files
# Visual Studio Code
.vscode/
*.code-workspace

# CLion
.idea/
cmake-build-*/

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj
*.vcxproj.filters
*.sln
.vs/

# Xcode
*.xcodeproj
*.xcworkspace
xcuserdata/
*.moved-aside
DerivedData/
*.hmap
*.ipa

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Linux
*~
.directory

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Logs
*.log
logs/
*.bak

# Dependencies
vendor/
third_party/
external/
conan/
vcpkg_installed/

# Testing
Testing/
tests/build/
*.gcda
*.gcno
*.gcov
coverage/
*.profdata
*.profraw

# Package managers
Makefile
*.make

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~.nib

# personal files
hold.txt